html {
	background-color: #D6EADE;
}

/* NAV */
nav {
  	text-align: right;
    width: 100%;
    padding: 0 100px 0 0;
    margin: 0;
    position: relative;
    color: #D6EADE;
    background-color: #000;
}

nav ul {
  	background-color: #000;
  	list-style-type: none;
  	margin: 0;
}

nav ul .nav-items {
    display: inline-block;
}

.nav-items p {
	display: inline-block;
}

nav ul li .nav-links {
 	display: block;
 	padding: 0px 0px;
 	margin: 25px 60px;
 	text-decoration: none;
  	font-family: Libre Franklin, serif;
  	text-transform: uppercase;
  	font-weight: bold;
  	font-size: 21px;
  	letter-spacing: 0.1em;

}

nav ul li a:hover {
  	text-decoration: none;
}

nav ul ul {
	display: none;
	background-color: #E9F4ED;
	z-index: 1;
    position: absolute;
    text-align: left;
    top: 76px;
}

nav ul .watch-dropdown {
	padding: 30px 30px 60px 30px;
	width: 100%;
    left: 0px;
}

nav ul .about-dropdown {
	padding: 20px 20px 20px 20px;
	width: 330px;
	right: 0px;
}

nav ul li:hover > ul {
  	display: block;
}

nav ul ul li {
	padding: 8px 20px 8px 20px;
	font-family: Libre Franklin, serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.1em;
}

nav ul ul lh {
	color: #000;
	font-family: Libre Franklin, serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.1em;
}

.column-left li a {
	font-weight: normal;
	font-size: 13px;

}

.column-left li a:before {
	content: "â— ";
}

.first {
	padding-top: 20px;
}

.column-center lh {
	display: block;
}

.column-center li {
	display: inline-block;
}

.column-center li a {
	color: #000;
	border: 7px solid #D6EADE;
	border-radius: 9px;
	background-color: #D6EADE;
	padding: 0px 5px;
}

.column-right li a {
	color: #000;
}

.arrow-right {
	margin-top: -7px;
	margin-bottom: -7px;
}

/* column-right dropdowns */
.column-right ul {
	display: none;
	background-color: #D6EADE;
}

.column-right .stream-dropdown {
	top: 70px;
	right: 5%;
	width: 10%;
}

.column-right .mtrcb-dropdown {
	top: 102px;
	right: 9%;
	width: 10%;
}

.column-right ul li img {
	width: 40px;
	margin-right: 9px;
}

/* 3 column divider for watch dropdown */
.column-left {
	float: left;
	width: 33%;
}
.column-right {
	float: right;
	width: 33%;
}
.column-center {
	display: inline-block;
	width: 33%;
}

/* about dropdown */
.about-dropdown li a {
	font-weight: bold;
	color: #000;
	font-size: 15px;
}

.about-dropdown .contact a {
	color: #6C6C6C;
}

.arrow {
	-webkit-box-sizing: border-box;
	    	box-sizing: border-box;
	height: 10px;
	width: 10px;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 1px 1px 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: border-width 150ms ease-in-out;
	transition: border-width 150ms ease-in-out;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
}

nav ul li .active {
	border-bottom: 2px solid currentColor;
}

/* COVER PHOTO */

#cover-section {
	background: url("assets/coverphoto.png") no-repeat center center;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 100px;
	color: #D6EADE;
}

.home-landing {
	width: 90%;
	margin: auto;
}

.home-landing h3 {
	font-family: 'Libre Franklin', serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.1em;
}

.home-landing img {
	width: 450px;
}

.home-landing p {
	font-family: 'Libre Baskerville', sans-serif;
	font-size: 15px;
}

.home-button {
	margin-top: 38vh;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.home-button h2 {
	font-family: 'Libre Franklin',sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 30px;
}

.home-button button {
	background: #FE5417;
	padding: 13px 16px;
	border: 2px solid #FE5417;
	border-radius: 55px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	width: 250px;
	color: #000000;
}

.home-button button a {
	text-decoration: none;
}

/* FILM CARDS */
#card-section {
	margin: auto;
	padding: 30px 60px;
}

.card-section-caption {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	font-size: 40px;
	padding: 30px 0 20px 0;
}

.grid {
  	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 20px;
  	-webkit-box-align: start;
  	    -ms-flex-align: start;
  	        align-items: start;
}

.grid > article {
	background-color: #fff;
}

.card-img {
	width: 100%;
	margin-bottom: 16px;
}

.card {
	padding: 20px 17px 150px 17px;
	position: relative;
}

.card-genre {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 14px;
}

.american {
	color: #24346D;
}

.martial {
	color: #A50014;
}

.spanish {
	color: #726706;
}

.japanese {
	color: #CE3000;
}

.post {
	color: #256B63;
}

.card-title {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	font-size: 26px;
}

.bottom-card {
	position: absolute;
	padding-bottom: 16px;
	bottom: 0;
}

.bottom-right-card {
	position: absolute;
	bottom: 0;
	padding: 0 17px 20px 0px;
}

.card-director {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding: 100px 0 5px 0;
}

.card-info {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0 15px 8px 0;
	float: left;
}

.card-rating {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #6C6C6C;
	border: 1px solid #6C6C6C;
	padding: 1px 10px 1px 10px;
	margin: -2px 17px 8px 0;
	float: left;
}

.card-tags {
	font-family: 'Libre Franklin',sans-serif;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #6C6C6C;
}

.card-tags span {
	margin-right: 15px;
}

.card-stream {
	width: 10%;
	float: right;
}

#browse-by {
	margin: auto;
	margin-bottom: 60px;
	padding: 30px 60px;
}

#browse-by h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 20px;
}


.browse-card {
	height: 270px;
	background: #C4C4C4;
	border-radius: 9px;
	padding: 90px;
	font-family: 'Libre Franklin', sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 25px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
}

.grid-browse {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr auto;
  	grid-gap: 20px;
  	-webkit-box-align: start;
  	    -ms-flex-align: start;
  	        align-items: start;
}

/*About*/
.about-thesis {
	background: #C4C4C4;
	padding: 60px 24px;
	margin-bottom: 30px;
}

.about-thesis h1 {
	font-weight: bold;
	font-size: 35px;
	width: 25%;
	font-family: 'Libre Baskerville', sans-serif;
	color: #000000;
	padding-bottom: 15px;
	border-bottom: 5px solid #000000;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.about-thesis h2 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 16px;
}

.about-thesis p {
	font-family: 'Libre Baskerville', sans-serif;
	line-height: 26px;
	font-size: 15px;
	color: #000000;
}

.about-mission {
	padding: 15px 24px;
	margin-bottom: 30px;
}

.about-mission h1 {
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #000000;
	margin-bottom: 30px;
}

.about-card:first-child {
	margin-right: 20px;
}

.about-card {
	width: 100%;
	height: 100%;
	background: #C4C4C4;
	padding: 30px;
}

.about-card h2 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
}

.about-card p {
	font-family: 'Libre Baskerville',sans-serif;
	line-height: 32px;
	font-size: 18px;
	width: 210px;
	margin-top: 30px;
	margin-bottom: 120px;
	color: #000000;
}

.about-card h6 {
	text-align: center;
	margin-left: auto;
	font-family: 'Libre Franklin',sans-serif;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding-bottom: 2px;
	border-bottom: 3px solid #000000;
	color: #000000;
	width: 35%;
}

/*About - Contact Us */
.contact-us {
	padding: 15px 24px;
	margin-bottom: 60px;
}

.contact-us h1 {
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #000000;
	margin-bottom: 30px;
}

.contact-details {
	font-family: 'Libre Baskerville', sans-serif;
	line-height: 32px;
	font-size: 18px;
	color: #000000;
}

.contact-details p {
	margin-bottom: 30px;
}

.contact-details ul.dashed > li {
	text-indent: -5px;
}

.contact-details ul.dashed > li:before {
	content: "-";
 text-indent: -5px;
}

.formGroup {
	width: 100%;
	margin-bottom: 8px;
}

.formGroup label {
	font-family: 'Libre Franklin',sans-serif;
	line-height: 31px;
	font-size: 18px;
	color: #000000;
}

.formGroup input {
	width: 100%;
	font-family: 'Libre Franklin',sans-serif;
	background: #FFFFFF;
	height: 40px;
	padding: 8px 16px;
}

.formGroup textarea {
	width: 100%;
	font-family: 'Libre Franklin',sans-serif;
	background: #FFFFFF;
	height: 220px;
	padding: 8px 16px;
}

/*Historical highlights */
.highlights-nav {
	background: white;
}

.highlights-nav a {
	width: 100%;
}

.highlights-nav a li {
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
	padding: 24px;
}

.highlights-nav li {
	cursor: pointer
}

.spanish-nav {
	border-bottom: 8px solid #E0831E;
}

.spanish-nav:hover, .spanish-active {
	background: #E0831E;
	color: white !important;
}


.american-nav {
	border-bottom: 8px solid #24346D;
}

.american-nav:hover, .american-active {
	background: #24346D;
	color: white !important;
}

.japanese-nav {
	border-bottom: 8px solid #CE3000;
}

.japanese-nav:hover, .japanese-active {
	background: #CE3000;
	color: white !important;
}

.ML-nav {
	border-bottom: 8px solid #A50014;
}

.ML-nav:hover, .ml-active {
	background: #A50014;
	color: white !important;
}

.postML-nav {
	border-bottom: 8px solid #256B63;
}

.postML-nav:hover, .postml-active {
	background: #256B63;
	color: white !important;
}

#highlight-spanish {
	background: #E0831E;
	padding: 60px;
}

#highlight-american {
	background: #24346D;
	padding: 60px;
}

#highlight-japanese {
	background: #CE3000;
	padding: 60px;
}

#highlight-martialLaw {
	background: #A50014;
	padding: 60px;
}

#highlight-postMartialLaw {
	background: #256B63;
	padding: 60px;
}

/* Learn Home */
.feature-container {
	padding-top: 50px;
	padding-bottom: 60px;
}

.feature-container:after {
	content: "";
	display: table;
	clear: both;
}

.feature-column {
	float: left;
}

.feature-left {
	padding-left: 60px;
	padding-right: 15px;
	width: 65%;
}

.feature-left img {
	width: 100%;
	padding-bottom: 30px;
	padding-top: 40px;
}

.feature-left .feature-tag {
	font-family: 'Libre Franklin', serif;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.feature-left hr {
	border: 4px solid #24346D;
	margin: 5px 0 15px 0;
	width: 230px;
}

.feature-left p {
	font-family: Libre Baskerville, sans-serif;
	font-weight: normal;
	line-height: 26px;
	font-size: 15px;
}

.feature-left h1 {
	font-family: Libre Baskerville, sans-serif;
	font-weight: bold;
	padding-bottom: 25px;
	font-size: 36px;
}

.feature-right {
	padding-left: 15px;
	padding-right: 60px;
	width: 35%;
}

.feature-right h3 {
	padding-top: 40px;
	padding-left: 10px;
	font-family: Libre Franklin, serif;
	font-weight: bold;
	font-size: 23px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.feature-card {
	margin-top: 30px;
	padding-bottom: 50px;
	background-color: #fff;
	text-align: center;
}

.feature-card p {
	font-family: Libre Baskerville, sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding-top: 20px;
}

.feature-card img {
	width: 100%;
}

.feature-right button {
	margin-top: 30px;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 10px 15px 10px 15px;
	background-color: #C4C4C4;
	color: #fff;
	font-family: Libre Franklin, serif;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border-radius: 55px;
	width: 80%;
}

/* Women-Human Rights */
#women, #human-rights {
	background-color: #E9F4ED;
	padding: 40px 60px 50px 60px;
}

#women h3, #human-rights h3 {
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: bold;
	font-size: 28px;
	padding-bottom: 20px;
}

/* Film in Focus */
.film-focus {
	padding: 0 0 570px 0;
}

#film-focus-luna {
	background: url("assets/luna-cover.png") no-repeat center center;
	background-size: cover;
}
#film-focus-goyo {
	background: url("assets/movies/goyo.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-jose {
	background: url("assets/movies/jose-cover.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-sakay {
	background: url("assets/movies/sakay.png") no-repeat center center;
	background-size: cover;
}
#film-focus-sister {
	background: url("assets/movies/sister.png") no-repeat center center;
	background-size: cover;
}
#film-focus-liway {
	background: url("assets/movies/liway.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-oro {
	background: url("assets/movies/oro.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-larawan {
	background: url("assets/movies/larawan.png") no-repeat center center;
	background-size: cover;
}
#film-focus-dekada {
	background: url("assets/movies/dekada70.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-bayaning {
	background: url("assets/movies/bayaning.png") no-repeat center center;
	background-size: cover;
}
#film-focus-aishite {
	background: url("assets/movies/aishite.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-giveup {
	background: url("assets/movies/giveup.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-batas {
	background: url("assets/movies/batas.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-ninoy {
	background: url("assets/movies/ninoy.png") no-repeat center center;
	background-size: cover;
}
#film-focus-ml {
	background: url("assets/movies/ml.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-bonifacio {
	background: url("assets/movies/bonifacio.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-tatlong {
	background: url("assets/movies/tatlong.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-balangiga {
	background: url("assets/movies/balangiga.png") no-repeat center center;
	background-size: cover;
}
#film-focus-batch81 {
	background: url("assets/movies/batch81.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-gamugamo {
	background: url("assets/movies/gamugamo.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-baler {
	background: url("assets/movies/baler.jpg") no-repeat center center;
	background-size: cover;
}
#film-focus-tupug {
	background: url("assets/movies/tupug.png") no-repeat center center;
	background-size: cover;
}

.modules-btn {
  	border: 1px solid #fff;
  	background-color: rgba(0,0,0,0);
  	color: #fff;
  	padding: 10px 15px;
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-family: Libre Franklin;
	font-weight: bold;
	font-size: 14px;
	margin: 30px 50px;
}

.taxonomy {
	font-size: 12px;
	padding-bottom: 4px;
}

.card-FF {
	padding: 20px 17px 0px 17px;
	position: relative;
}

.card-FF p {
	font-family: Libre Franklin;
	line-height: 21px;
	font-size: 12px;
}

.card-FF h3 {
	font-family: Libre Franklin;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 20px;
}

.card-FF img {
	padding-top: 20px;
}

.column-50 {
	float: left;
	width: 50%;
}

.column-50 h3 {
	font-family: Libre Franklin;
	font-weight: bold;
	font-size: 23px;
	padding-top: 30px;
}

.column-50 p {
	font-family: Libre Baskerville;
	line-height: 26px;
	font-size: 15px;
	padding-top: 30px;
	margin-right: 30px;
}

.row-50 {
	padding: 50px 0;
}

.row-50:after {
	content: "";
	display: table;
	clear: both;
}

#film-focus-text {
	margin-top: -300px;
	background: rgba(0,0,0,0.64);
}

.container-FF {	
	margin: auto;
	width: 93%;
	padding-bottom: 30px;
}

.title-FF {
	width: 100%;
}

.column-left-FF {
	float: left;
	width: 30%;
}

.title-FF h1 {
	font-family: Libre Baskerville;
	font-weight: bold;
	font-size: 45px;
	color: #fff;
	padding: 50px 0 20px 0;
}

.column-left-FF p {
	font-family: Libre Franklin;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.info-FF {
	padding-top: 5px;
}

.director-FF {
	padding-top: 5px;
}

.tags-FF {
	padding-top: 20px;
}

.info-FF p {
	font-weight: normal;
	display: inline-block;
}

.info-FF span {
	margin-right: 25px;
}

.director-FF p {
	font-weight: normal;
	display: inline-block;
}

.director-FF span {
	margin-right: 10px;
}

.tags-FF p {
	text-transform: none;
	color: #C4C4C4;
	font-weight: normal;
	font-size: 13px;
}
.tags-FF span {
	margin-right: 30px;
}

.column-middle-FF {
	float: left;
	width: 50%
}

.bold-FF {
	font-family: Libre Franklin;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	padding: 0px 0 10px 0;
	margin: 0 50px 0 50px;
}

.column-middle-FF p {
	font-family: Libre Franklin;
	line-height: 19px;
	font-size: 14px;
	color: #fff;
	margin: 0 50px 0 50px;
}

.column-right-FF {
	float: left;
	width: 20%
}

.column-right-FF img {
	width: 35px;
	margin: 10px 50px 0 70px;
}

.arrow-large {
	-webkit-box-sizing: border-box;
	    	box-sizing: border-box;
	height: 20px;
	width: 20px;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 1px 1px 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: border-width 150ms ease-in-out;
	transition: border-width 150ms ease-in-out;
	margin: auto;
}

.bottom-FF {
	padding-top: 125px;
}

/* Footer */
footer {
	background: #000000;
	padding: 45px 60px;
	color: white;
}

.footer-details {
	width: 30%;
}

.footer-details h3 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #E9F4ED;
	margin-bottom: 8px;
}

.footer-details p {
	font-family: 'Libre Baskerville', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 13px;
	margin-bottom: 20px;
}

.footer-details h6 {
	font-family: 'Libre Franklin', sans-serif;
	line-height: 22px;
	font-size: 13px;
	text-align: center;
}
